# =========================
# Python
# =========================

# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Testing
.pytest_cache/

# Type Checking
.mypy_cache/

# Linting
.ruff_cache/

# Coverage
.coverage
htmlcov/

# =========================
# Your Existing Rules
# =========================

__pycache__/
*.pyc

*.txt
*.csv
*.json

!settings.json

test_folder/